@font-face {
    font-family: 'FEH';
    src: url(./feh.ttf) format("truetype");

}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

body {
    font-family: 'FEH';
    color: white;
}

#rightCol {
    border: 1px solid #FFF;
    color: white;
    text-align: center;
    padding-right: 5px;
    line-height: 50px;

}

#leftCol {
    border: 1px solid #FFF;
    text-align: left;
    padding-left: 60px;
    line-height: 50px;
    background-size: 25px 25px;

}

#rightHeader {
    border: 1px solid #FFF;
    color: white;
    text-align: center center;
    padding-right: 5px;
    line-height: 140%;
}

#leftHeader {
    border: 1px solid #FFF;
    padding-left: 5px;
    line-height: 140%;
    text-align: none center;
}



#resTable {
    width: 200px;
    font-size: 18px;
    color: white;
    line-height: 120%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #FFF;

}

#buttonbox button {
    background: transparent;
    border: none;

}

#buttonbox button img {
    width: 50%;
}

#buttonbox {
    height: auto;
    text-align: center;
    margin: 0 auto;

}

#reset {
    background: transparent;
    border: none;
}

#reset img {
    width: 50%;
}

#resetbutton {
    height: auto;
    text-align: center;
    margin: 0 auto;
}

#mainTable {
    font-size: 14px;
    font-family: 'FEH';
    text-align: center;
    vertical-align: middle;
    width: 430px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 10px 5px;
    border-color: white;

}

.tb_header {
    padding-bottom: 10px;
    font-family: FEH;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    background-color: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    font-family: FEH;

}

#header {
    text-align: center
}

.collapsible:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

#leftField {
    height: 180px;
    text-align: center;
    min-width: 130px;
    border: 1px solid #000;
    cursor: pointer;
    padding: 10px;
    font-family: FEH;
    border-color: white;
    background: url(./portraits/edelgard_academy.png);
    background-size: 140px 140px;
    background-repeat: no-repeat;
    background-position: 50% 15%;
    vertical-align: bottom;
    line-height: 50px;

}

#rightField {
    height: 180px;
    text-align: center;
    padding: 10px;
    min-width: 130px;
    border: 1px solid #000;
    cursor: pointer;
    font-family: FEH;
    border-color: white;
    background: url(./portraits/dimitri_academy.png);
    background-size: 140px 140px;
    background-repeat: no-repeat;
    background-position: 50% 15%;
    vertical-align: bottom;
    line-height: 50px;

}

#fldMiddleT {
    text-align: center;
    min-width: 150px;
    height: 70px;
    border: 1px solid #000;
    cursor: pointer;
    font-family: FEH;
    color: white;
    border-color: white;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

#fldMiddleB {
    text-align: center;
    width: 150px;
    height: 70px;
    padding: 0px;
    border: 1px solid #000;
    cursor: pointer;
    font-family: FEH;
    color: white;
    border-color: white;
    margin: auto auto;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#audio_box img {
    height: 50%;
    width: 50%;
    display: block;
    margin: 0 auto;
    position: relative;

}

.audio_controls {
    position: absolute;
    bottom: 30%;
    right: 27%;
    width: 27%;
}

.audio_controls button {
    padding: 0;
    border: 0;
    background: transparent;
    width: 30%;
}

.audio_controls img {
    height: 50%;
    width: 50%;
}

.container {
    position: relative;
    text-align: center;
    color: black;
}

.marquee {
    height: 20%;
    width: 27%;
    overflow: scroll;
    position: absolute;
    font-family: FEH;
    font-size: 3vw;
    margin: 0 auto;
    text-align: center;
    top: 26%;
    right: 27%;
    color: black;
    white-space: nowrap;


}

.marquee p {
    width: 100%;
    height: 1000%;
    margin: 0;
    line-height: 1.5;
    display: block;
    text-align: center;
    transform: translateX(100%);
    animation: scroll-left 7s linear infinite;
    color: black;

}

#song_cover img {
    height: 70%;
    width: auto;
    position: absolute;
    top: 14%;
    left: 28.5%;
    border: 1px solid #000;

}

.cbox {
    cursor: pointer;
    font-family: FEH;
    color: white;
    font-size: 10px;
}

#optSelect_all span {
    font-family: FEH;
    color: white;

}

#romhack {
    font-size: 14px;
}

#romhackSelect_all {
    margin-left: 130px;
}


#resTable {
    width: 200px;
    font-size: 12px;
    height: 180px;
    line-height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
    color: white;
    font-family: FEH;
}

.resTableH {
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    font-family: FEH;
    color: white;
}

.resTableL {
    color: #000000;
    border: 1px solid #000000;
    text-align: right;
    padding-right: 5px;
    font-family: FEH;
    color: white;
}

.resTableR {
    color: #000000;
    border: 1px solid #000000;
    padding-left: 5px;
    font-family: FEH;
    color: white;
}

a {
    text-decoration: none;
    font-size: 15px;
    font-family: FEH;
    color: white;
}

a:hover {
    color: #99ccff;
    font-size: 15px;
    color: white;
    font-family: FEH;
}

.style4 {
    font-family: FEH;
    color: white;
    color: #000000;
    font-weight: normal;
    font-size: 15px;
}

a:link {
    color: #990000;
    font-size: 15px;
    text-decoration: none;
    font-family: FEH;
    color: white;
    font-size: 15px;
}

a {
    font-family: FEH;
    ;
    font-size: 15px;
    color: white;
}

a:visited {
    text-decoration: none;
    color: #6600FF;
    font-size: 15px;
    font-size: 11px;
    font-family: FEH;
}

a:hover {
    text-decoration: none;
    color: #FF6600;
    font-size: 15px;
    font-family: FEH;
    color: white;
}

a:active {
    text-decoration: none;
    font-size: 15px;
    font-family: FEH;
    color: white;
}

body {
    background-image: url("background.png");
    background-size: auto;
    color: white;
}

figure {
    margin: 0
}