@font-face {
    font-family: 'FEH';
    src: url(./feh.ttf) format("truetype");

}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

body {
    font-family: 'FEH';
    color: white;
}

table tbody tr td a {
  display: block;
  width: 100%;
  height: 100%;
}

#kofi {
    background: url('./buttons/kofi.png');
        background-size: 40px 40px;
    background-position: 50% 50%;

    background-repeat: no-repeat;
}

#twitter {
    background: url('./buttons/twitter.png');
        background-size: 40px 40px;
    background-position: 50% 50%;

    background-repeat: no-repeat;
}





#discord {
    background: url('./buttons/discord.png');
        background-size: 40px 40px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


#rightCol {
    border: 1px solid #FFF;
    color: white;
    text-align: center;
    padding-right: 5px;
    line-height: 50px;
    font-size: 20px;

}

#leftCol {
    border: 1px solid #FFF;
    text-align: left;
    padding-left: 90px;
    line-height: 80px;
    font-size: 20px;
    white-space: nowrap;


}

#rightHeader {
    border: 1px solid #FFF;
    color: white;
    text-align: center center;
    padding-right: 5px;
    line-height: 150%;
    font-size: 20px;
}

#leftHeader {
    border: 1px solid #FFF;
    padding-left: 5px;
    line-height: 150%;
    font-size: 20px;
    text-align: none center;
}



#resTable {
    width: 300px;
    font-size: 18px;
    color: white;
    line-height: 120%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #FFF;

}

#buttonbox button {
    background: transparent;
    border: none;

}


#txtButton {
    background: url('./buttons/downloadtxt.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}

#imgButton {
    background: url('./buttons/downloadimg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}

#resumeButton {
    background: url('./buttons/resume.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}

#resetButton {
    background: url('./buttons/reset.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}

#buttonsTable {
    border: none;
}

#buttonbox button {
    width: 50%;
}

#buttonbox {
    height: auto;
    text-align: center;
    margin: 0 auto;

}

#reset {
    background: transparent;
    border: none;
}

#reset img {
    width: 50%;
}

#resetbutton {
    height: auto;
    text-align: center;
    margin: 0 auto;
}

#mainTable {
    font-size: 14px;
    font-family: 'FEH';
    text-align: center;
    vertical-align: middle;
    width: 430px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 10px 5px;
    border-color: white;

}

.tb_header {
    padding-bottom: 10px;
    font-family: FEH;
}

.collapsible {
    background-color: transparent;
    background: url('./arrow.png') no-repeat left center;
    background-size: 20px auto;
    height: 30px;
    padding-left: 35px;
    border: none;
    color: white;
    font-family: 'FEH';
    font-size: 20px;
}


.content {
    padding: 0 18px;
    background-color: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    font-family: FEH;

}

#header {
    text-align: center
}

.collapsible :after {
    transition: all 0.5s;

    /* Unicode character for "plus" sign (+) */

}

.active:after {
    background-image: url('./arrowdown.png')no-repeat left center;
    background-size: auto 20px;

    /* Unicode character for "minus" sign (-) */
}

.active {
    background-image: url('./arrowdown.png');
    background-size: auto 20px;
    /* Unicode character for "minus" sign (-) */
}



#leftField {
    height: 200px;
    text-align: center;
    min-width: 150px;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-family: FEH;
    border-color: white;
    background: url('./portraits/edelgard_academy.png'), url('./frame.png');
    background-size: 130px 130px, 180px 240px;
    background-repeat: no-repeat, no-repeat;
    background-position: 47% 25%, 50% 50%;
    vertical-align: bottom;
    line-height: 22px;
    padding-bottom: 45px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

#rightField {
    height: 200px;
    text-align: center;
    min-width: 150px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border: white;
    font-family: FEH;
    border-color: white;
    background: url('./portraits/dimitri_academy.png'), url('./frame.png');
    background-size: 130px 130px, 180px 240px;
    background-repeat: no-repeat, no-repeat;
    background-position: 47% 25%, 50% 50%;
    vertical-align: bottom;
    line-height: 22px;
    padding-bottom: 45px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

#fldMiddleT {
    text-align: center;
    min-width: 150px;
    height: 70px;

    cursor: pointer;
    font-family: FEH;
    color: white;
    background: url('./smallframe.png');
    background-size: 155px 115px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

#fldMiddleB {
    text-align: center;
    width: 150px;
    height: 70px;
    padding: 0px;

    cursor: pointer;
    font-family: FEH;
    color: white;
    margin: auto auto;
    background: url('./smallframe.png');
    background-size: 155px 115px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#audio_box img {
    height: 50%;
    width: 50%;
    display: block;
    margin: 0 auto;
    position: relative;

}

.audio_controls {
    position: absolute;
    bottom: 30%;
    right: 27%;
    width: 27%;
}

.audio_controls button {
    padding: 0;
    border: 0;
    background: transparent;
    width: 30%;
}

.audio_controls img {
    height: 50%;
    width: 50%;
}

.container {
    position: relative;
    text-align: center;
    color: black;
}

.marquee {
    height: 30%;
    width: 27%;
    overflow-x: scroll;
    overflow-y: hidden;
    position: absolute;
    font-family: FEH;
    font-size: 3vw;
    margin: 0 auto;
    text-align: center;
    top: 26%;
    right: 27%;
    color: black;
    white-space: nowrap;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;


}

.marquee::-webkit-scrollbar {
    width: 0 !important
}

.marquee p {
    width: 100%;
    height: 90%;
    margin: 0;
    line-height: 1.5;
    display: block;
    text-align: center top;
    transform: translateX(100%);
    animation: scroll-left 7s linear infinite;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

#song_cover img {
    height: 70%;
    width: auto;
    position: absolute;
    top: 14%;
    left: 28.5%;
    border: 1px solid #000;

}

.cbox {
    cursor: pointer;
    font-family: FEH;
    color: white;
    font-size: 10px;
}

#optSelect_all span {
    font-family: FEH;
    color: white;

}

#romhack {
    font-size: 14px;
}

#mainlineall {
    font-size: 14px;
}


#romhackSelect_all {
    margin-left: 130px;
}

#optSelect_all {
    margin-left: 130px;
}


#resTable {
    width: 200px;
    font-size: 12px;
    height: 180px;
    line-height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
    color: white;
    font-family: FEH;
}

.resTableH {
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    font-family: FEH;
    color: white;
}

.resTableL {
    color: #000000;
    border: 1px solid #000000;
    text-align: right;
    padding-right: 5px;
    font-family: FEH;
    color: white;
}

.resTableR {
    color: #000000;
    border: 1px solid #000000;
    padding-left: 5px;
    font-family: FEH;
    color: white;
}

a {
    text-decoration: none;
    font-size: 15px;
    font-family: FEH;
    color: white;
}

a:hover {
    color: #99ccff;
    font-size: 15px;
    color: white;
    font-family: FEH;
}

.style4 {
    font-family: FEH;
    color: white;
    color: #000000;
    font-weight: normal;
    font-size: 15px;
}

a:link {
    color: #990000;
    font-size: 15px;
    text-decoration: none;
    font-family: FEH;
    color: white;
    font-size: 15px;
}

a {
    font-family: FEH;
    ;
    font-size: 15px;
    color: white;
}

a:visited {
    text-decoration: none;
    color: #6600FF;
    font-size: 15px;
    font-size: 11px;
    font-family: FEH;
}

a:hover {
    text-decoration: none;
    color: #FF6600;
    font-size: 15px;
    font-family: FEH;
    color: white;
}

a:active {
    text-decoration: none;
    font-size: 15px;
    font-family: FEH;
    color: white;
}

body {
    background-image: url("background.png");
    background-size: auto;
    color: white;
}

figure {
    margin: 0
}