@font-face {
    font-family: 'FEH';
    src: url(./feh.ttf) format("truetype");

}

body {
    font-family: 'FEH';
    color: white;
        background-image: url("background.png");
    background-size: auto;
    color: white;
    font-size: 14px;
    line-height: 160%;
    padding-left: 20px;
    padding-right: 20px;
}

body h1 {
    font-size: 20px;
    text-align: center;
    padding: 0px;
}
